/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

html {
  box-sizing: border-box;
}

body {
  /* margin-left: 78px;
  margin-right: 78px; */

  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

header {
  margin-left: 88px;
  margin-right: 88px;
  margin-top: 9px
}

main {
  margin-left: 88px;
  margin-right: 88px;
}

footer {
  width: 100%;
  height: auto;
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  background-color: black;
}

.div_header {
  display: flex;
  justify-content: space-between;

}

.image_logo {
  /* margin-top: 24px;
  width: 169px; */
  margin-top: 27px;
  /* width: 169px; */
  width: 180px;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  margin-top: 43px;
  padding: 0px;
}

 .navigation ul li a{
  color: #FF6060;
  margin-left: 58px;
  font-weight: bold;
  font-size: 20px;
} 

.active {
  text-decoration: underline;
}

/* <a> elements that don't have a class `.active` */
a:not(.active) {
  text-decoration: none;
}

.accroche {
  /* margin-top: 15px; */
  /* margin-top: 37px; */
  margin-top: 52px;
  position: relative;
}

.accroche p {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 43px;
  font-weight: 00;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.accroche img {
  width: 100%;
  filter: brightness(70%);
  border-radius: 21px;
}

.les_locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F6F6F6;
  margin-top: 28px;
  /* padding-top: 47px; */
  padding-top: 55px;
  padding-left: 43px;
  padding-right: 40px;
}

.lien_logement {}

.div_location {
  width: 30%;
  margin-bottom: 40px;
  position: relative;
}

.location {
  display: flex;
  align-items: end;
  /* width: 23.5vw; */
  /* width: 270px; */
  /* height: 340px; */
  object-fit: cover;
  width: 30%;
  width: 100%;

  height: 23.5vw;
  /* margin-bottom: 41px;
  margin-bottom: 46px; */
  border-radius: 10px;
  background: #FF6060;
  background-image: linear-gradient(#FFFFFF00, #00000080);

}

.div_location p {
  pointer-events: none;
  box-sizing: border-box;
  align-items: flex-end;
  display: flex;
  position: absolute;
  padding: 0 50% 20px 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 10px;
  /* width: 100px; */
  
  /* border-image: linear-gradient(#f6b73c, #4d9f0c) 30;; */
  /* background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,96,96,1) 0%, rgba(255,96,96,0) 42%); */
  /* background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,96,96,1) 17%, rgba(255,96,96,0) 42%); */

/* background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,0) 1%, rgba(255,96,96,1) 10%, rgba(255,96,96,0) 32%); */

background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0) 59%, rgba(255,96,96,1) 82%);

  
  margin: 0;
}

.argumentApropos {
  margin-top: 23px;
  margin-left: 95px;
  margin-right: 95px;
  /* background-color: #F6F6F6; */
}

.argumentLogement {
  margin-top: 4px;
  /* margin-left: 95px;
  margin-right: 95px; */
  display: flex;
  flex-direction: column;

  
}

.Details .argumentLogement:nth-child(1) {
    /* margin-top: 22px; */
    margin-right: 30px;
    width: 100%;
}

.Details .argumentLogement:nth-child(2) {
    /* margin-top: 22px; */
    margin-left: 30px;
    width: 100%;
}

.argument_titre {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #FF6060;

  border-radius: 5px;
  line-height: 24px;
}

.argument_titre p {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 20px;
  color: white;
  margin-top: 0px;
}

.fa-angle-down {
  margin-right: 25px;
  font-size: 25px;
  color: white;
}

.fa-angle-up {
  margin-right: 25px;
  font-size: 25px;
  color: white;
}

.argument_details {
  /* padding-right: 30px; */
  background-color: #F6F6F6;
  flex-grow: 1;
}

/* .argument_details p {
  padding-top: 22px;
  padding-left: 10px;
  font-size: 21.1px;
  color: #FF6060;
  margin-bottom: 0px;
  padding-bottom: 10px;
  line-height: 29px;
  margin-top: 0;
} */


.argument_none{
  display: none;
}


.footer_global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 175px; */
  padding-top: 52px;
  padding-bottom: 30px;
  color: white;

}


.logo_footer {
  width: 110px;
  padding-bottom: 39px;
}

.p_footer {
  margin: 0px;
  font-size: 21px;
}

.gestion_404 {
  color: #FF6060;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 108px;
  padding-left: 23px;
}




.code_404 {
  font-weight: 900;
  font-size: 250px;
  margin-top: 0px;
  ;
  margin-bottom: 23.5px;

}

.message_404 {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 165px;
}

.lien_404 {
  color: #FF6060;
  text-decoration: none;
  /* padding-left: 0px; */
  padding-right: 15px;
}

.slideshow {
  /* margin-top: 15px; */
  /* margin-top: 37px; */
  margin-top: 14px;
  position: relative;
}

.slideshow img {
  width: 100%;
  height: 29vw;
  object-fit: cover;
  border-radius: 21px;
  overflow: clip;
}

.slideshow .fa-solid {
  font-size: 100px;
  position: absolute;
  color: white;
}

.slideshow .fa-angle-left {
  top: 120px;
  left: 20px;
}

.slideshow .fa-angle-right {
  right: 20px;
  top: 120px
}

.Denomination_total{
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.Titre{

}

.Destination{
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #FF6060;
}

.Titre p{
  /* margin: 0; */
  /* margin-top: 0;
  margin-bottom:0; */
}

.Region{
margin-top: 0;
color: #FF6060;
margin-bottom: 16px;
}

.All_tag{
  display: flex;
}

.tag{
  background-color: #FF6060;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-top: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  /* padding-left: 30px; */
  /* padding-right: 31px; */
  margin-right: 6px;
  width: 8.2vw;
  text-align: center;
}

.Denomination_droite{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.Avatar{
  display: flex;
  align-items: center;
  margin-top: -5px;
}

.Photo_host{
  border-radius: 70px;
  width: 4.2vw;
  margin-left: 10px;
}

.Nom{
  margin-top: 0;
  width: 80px;
  text-align: end;
  margin-top: 6px;
  /* margin-bottom: 25px; */
  color: #FF6060;
}

.Evaluation{
  padding-top: 10px;
}

.fa-star{
  font-size: 24.3px;
  margin-left: 7px;
  margin-top: 5px;
}

.starPlein{
color: #FF6060;
}

.starVide{
color: #E3E3E3;
}

.Details{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Liste{
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
  /* padding-top: 10px; */
  color: #FF6060;
  padding-left: 10px;
  line-height: 22px;
}

.argument_details .Liste:nth-child(1) {
padding-top: 30px;

}

.DescriptionApropos{
  padding-top: 22px;
  padding-left: 10px;
  /* font-size: 21.6px; */
  font-size: 21.1px;
  color: #FF6060;
  margin-bottom: 0px;
  padding-bottom: 10px;
  line-height: 29px;
  margin-top: 0;
}

.DescriptionLogement{
  padding-top: 30px;
  padding-left: 10px;
  /* font-size: 21.6px; */
  font-size: 18px;
  color: #FF6060;
  margin-bottom: 0px;
  padding-bottom: 10px;
  line-height: 29px;
  margin-top: 0;
  line-height: 22px;
}