html {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  margin-left: 88px;
  margin-right: 88px;
  margin-top: 9px
}

main {
  margin-left: 88px;
  margin-right: 88px;
  flex-grow: 1;

}

footer {
  width: 100%;
  height: auto;
  background-color: black;
}

.div_header {
  display: flex;
  justify-content: space-between;
}

.image_logo {
  margin-top: 27px;
  width: 180px;
}

.navigation ul {
  display: flex;
  list-style-type: none;
  margin-top: 43px;
  padding: 0px;
}

.navigation ul li a {
  color: #FF6060;
  margin-left: 58px;
  font-weight: bold;
  font-size: 20px;
}

.active {
  text-decoration: underline;
}

li a:not(.active) {
  text-decoration: none;
}

.accroche {
  margin-top: 52px;
  position: relative;
}

.accroche p {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 43px;
  font-weight: 00;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.image_accroche_desktop {
  width: 100%;
  filter: brightness(70%);
  border-radius: 21px;
}

.image_accroche_mobile {
  width: 100%;
  filter: brightness(70%);
  border-radius: 21px;
  height: 290px;
  object-fit: cover;
}

.les_locations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F6F6F6;
  margin-top: 28px;
  padding-top: 55px;
  padding-left: 43px;
  padding-right: 40px;
}

.div_location {
  width: 30%;
  margin-bottom: 40px;
  position: relative;
}

.location {
  display: flex;
  align-items: end;
  object-fit: cover;
  width: 30%;
  width: 100%;

  height: 23.5vw;
  border-radius: 10px;
  background: #FF6060;
  background-image: linear-gradient(#FFFFFF00, #00000080);
}

.div_location p {
  pointer-events: none;
  box-sizing: border-box;
  align-items: flex-end;
  display: flex;
  position: absolute;
  padding: 0 50% 20px 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: white;
  border-radius: 10px;

  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,0) 74%, rgba(0,0,0,0.5608368347338936) 100%);
  margin: 0;
}

.argumentApropos {
  margin-top: 23px;
  margin-left: 95px;
  margin-right: 95px;
}

.argumentLogement {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
}

.Details .argumentLogement:nth-child(1) {
  margin-right: 30px;
  width: 100%;
}

.Details .argumentLogement:nth-child(2) {
  margin-left: 30px;
  width: 100%;
}

.argument_titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FF6060;
  border-radius: 5px;
  line-height: 24px;
}

.argument_titre p {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 20px;
  color: white;
  margin-top: 0px;
}

.fa-angle-down {
  margin-right: 25px;
  font-size: 25px;
  color: white;
}

.fa-angle-up {
  margin-right: 25px;
  font-size: 25px;
  color: white;
}

.argument_details {
  background-color: #F6F6F6;
  flex-grow: 1;
}

.argument_none {
  display: none;
}


.footer_global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 30px;
  color: white;
}

.logo_footer {
  width: 110px;
  padding-bottom: 39px;
}

.p_footer {
  margin: 0px;
  font-size: 21px;
}

.gestion_404 {
  color: #FF6060;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 108px;
  padding-left: 23px;
}

.code_404 {
  font-weight: 900;
  font-size: 250px;
  margin-top: 0px;
  margin-bottom: 23.5px;
}

.message_404 {
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 165px;
  text-align: center;
}

.lien_404 {
  color: #FF6060;
  padding-right: 15px;
  text-decoration: underline;
}

.slideshow {
  margin-top: 14px;
  position: relative;
}

.slideshow img {
  width: 100%;
  height: 29vw;
  object-fit: cover;
  border-radius: 21px;
  overflow: clip;
}

.slideshow .fa-solid {
  font-size: 100px;
  position: absolute;
  color: white;
}

.slideshow .fa-angle-left {
  top: 9.5vw;
  left: 20px;
}

.slideshow .fa-angle-right {
  right: 20px;
  top: 9.5vw;
}

.Denomination_total {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

.Destination {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 5px;
  color: #FF6060;
}

.Region {
  margin-top: 0;
  color: #FF6060;
  margin-bottom: 16px;
}

.All_tag {
  display: flex;
}

.tag {
  background-color: #FF6060;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 6px;
  width: 8.2vw;
  text-align: center;
}

.Denomination_droite {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.Avatar {
  display: flex;
  align-items: center;
  margin-top: -5px;
}

.Photo_host {
  border-radius: 70px;
  width: 4.2vw;
  margin-left: 10px;
}

.Nom {
  margin-top: 0;
  width: 80px;
  text-align: end;
  margin-top: 6px;
  color: #FF6060;
}

.Evaluation {
  padding-top: 10px;
}

.fa-star {
  font-size: 24.3px;
  margin-left: 7px;
  margin-top: 5px;
}

.starPlein {
  color: #FF6060;
}

.starVide {
  color: #E3E3E3;
}

.Details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Liste {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 18px;
  color: #FF6060;
  padding-left: 10px;
  line-height: 22px;
}

.argument_details .Liste:nth-child(1) {
  padding-top: 30px;

}

.DescriptionApropos {
  padding-top: 22px;
  padding-left: 10px;
  font-size: 21.1px;
  color: #FF6060;
  margin-bottom: 0px;
  padding-bottom: 10px;
  line-height: 29px;
  margin-top: 0;
}

.DescriptionLogement {
  padding-top: 30px;
  padding-left: 10px;
  font-size: 18px;
  color: #FF6060;
  margin-bottom: 0px;
  padding-bottom: 10px;
  line-height: 29px;
  margin-top: 0;
  line-height: 22px;
}

.argumentApropos:last-child {
  margin-bottom: 23px;
}

.message_404_total {
  display: flex;
}

.SlideshowBlock {
  display: block;
}

.SlideshowNone {
  display: none;
}

.Pagination {
  position: absolute;
  bottom: 25px;
  right: px;
  left: 49.5%;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 866px) {

  .div_location {
    width: 45%;
  }

  header {
    margin-left: 40px;
    margin-right: 40px;
  }

  main {
    margin-left: 40px;
    margin-right: 40px;
  }

  .accroche p {
    font-size: 30px;
  }

}


@media (max-width: 668px) {

  .image_logo {
    margin-top: 16px;
    width: 190px;
  }

  header {
    margin-left: 26px;
    margin-right: 26px;
  }

  .navigation {
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .navigation ul li a {
    font-weight: normal;
    font-size: 3vw;
    margin-left: 20px;
  }

  .navigation ul {
    margin-top: 20px;
  }

  .accroche {
    margin-top: 18px;
  }

  main {
    margin-left: 26px;
    margin-right: 26px;
  }

  .image_accroche_desktop {
    border-radius: 12px;
    height: 29.5vw;
    object-fit: none;
  }

  .accroche p {
    width: 55vw;
    font-size: 31.5px;
    line-height: 30px;
    width: 60vw;
    margin-left: 22px;
  }

  .les_locations {
    background-color: white;
    padding: 0;
    margin: 25px 0 0 0;
  }

  .div_location {
    width: 100%;
    margin-bottom: 26px;
  }

  .div_location p {
    font-size: 26px;
  }

  .location {
    height: 67.9vw;
  }

  .Denomination_total {
    flex-direction: column;
    margin-top: 10px;
  }

  .Denomination_droite {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: normal;
  }

  .slideshow {
    margin-top: 32px;
  }

  .slideshow img {
    height: 67vw;
  }

  .slideshow .fa-angle-left {
    top: 30vw;
    left: 10px;
  }

  .slideshow .fa-solid {
    font-size: 40px;
  }

  .slideshow .fa-angle-right {
    top: 30vw;
    right: 10px;
  }

  .Destination {
    font-size: 23.7px;
  }

  .Region {
    font-size: 18.5px;
    margin-top: 10px;
    margin-bottom: 3px;
  }

  .Titre p {
    line-height: 31.5px;
    width: 80%;
  }

  .tag {
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: center;
    margin-right: 12.5px;
    width: 22vw;
  }

  .fa-star {
    font-size: 16px;
    margin-left: 6px;
    margin-top: 9px;
  }

  .Photo_host {
    width: 9.5vw;
    margin-left: 14px;
  }

  .Nom {
    margin-top: 12px;
  }

  .Details {
    flex-direction: column;
  }

  .Details .argumentLogement:nth-child(1) {
    margin-top: 5px;
    margin-right: 0;
  }

  .Details .argumentLogement:nth-child(2) {
    margin-left: 0;
    margin-top: 22px;
  }

  .argument_details .Liste:nth-child(1) {
    padding-top: 20px;
  }

  .DescriptionLogement {
    padding-top: 20px;
  }

  .argumentApropos {
    margin-top: 23px;
    margin-left: 0;
    margin-right: 0;
  }

  .code_404 {
    font-size: 125px;
    margin-bottom: 0;
  }

  .gestion_404 {
    margin-top: 238px;
    padding-left: 0;
  }

  .message_404 {
    font-size: 23px;
    margin-top: 5.5px;
  }

  .message_404_du_bas {
    margin-bottom: 180px;
  }

  .lien_404 {
    font-size: 18px;
  }

  .message_404_total {
    flex-direction: column;
    align-items: center;
  }

}

@media (max-width: 480px) {

  .logo {
    max-width: 30%;
  }

  .image_logo {
    width: 100%;
}

.div_header {
  align-items: center;
}

}